{% extends "layout.html" %}
{% block content %}
<style>
  h1 {
  color: #515E63;
  text-align: center;
  }
  h3 {
  color: #515E63;
  text-align: left;
  }
  p {
  color: #47597E; 
  height:80;
  text-align: center;
  }
</style>

    <h1>Motivation & Mission</h1>
    <p>
        Around the world, approximately 27% of the population (two billion people) rely on agriculture for their livelihood across 570 million farms. Of these 570 million farms more than 90% are run by an individual or a family. These small operations may not have the tools and resources available to make optimal decision(s) for their individual needs.
    </p>

    <p>
        ...That's where we come in. With the power of new technologies like machine and deep learning we believe it's possible to help farmers determine what to grow and how to maximize their yield...improving profits and livelihood for everyone involved.
    </p>

    <img src="../static/images/farm-ox.jpg" alt="Ox Farmer" style="width:900px;height:600px;">
    
    &nbsp; 
    &nbsp;
    <h3>Informational Links</h3>
    <li>
    <a href="https://www.globalagriculture.org/report-topics/industrial-agriculture-and-small-scale-farming.html">Global Agriculture Facts and Figures</a>
    </li>
    <li>
    <a href="https://www.ifpri.org/blog/achieving-agricultural-sustainability-depends-gender-equality">Agriculture Sustainability and Gender Equality</a>
    </li>
    <li>
    <a href="https://www.cbd.int/article/biodiversityforfood-1">Convention on Biological Diversity</a>
    </li>
    <li>
    <a href="http://www.fao.org/india/fao-in-india/india-at-a-glance/en/">Food and Agriculture Organization of the United Nations</a>
    </li>
{% endblock content %}